* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue:  rgb(211, 241, 255);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:var(--blue);
}

ul {
    position: relative;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color:var(--blue);
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
    3px 3px 5px rgba(0, 0, 0, 0.1);
}

ul li {
    position: relative;
    list-style: none;
    text-align: center;
    margin: 15px;
}

ul li label {
    position: relative;
    cursor: pointer;
}

ul li label input[type='checkbox'] {
    position: absolute;
    opacity: 0;
}

ul li label input[type='checkbox']:checked ~ .icon {
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
    inset 3px 3px 5px rgba(0, 0, 0, 0.1);
}

ul li label input[type='checkbox']:checked ~ .icon .fa {
    transform: scale(0.95);

}

ul li label .icon {
    width: 60px;
    height: 60px;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
    3px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}


ul li label .icon .fa {
    font-size: 30px;
    color: rgb(6, 166, 240);

}
